<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.mappers.UserContactApplyMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.wechat.entity.po.UserContactApply">
		<!--自增ID-->
		<id column="apply_id" property="applyId"/>
		<!--申请人ID-->
		<result column="apply_user_id" property="applyUserId"/>
		<!--接受人ID-->
		<result column="receive_user_id" property="receiveUserId"/>
		<!--联系人类型 0：好友 1：群组-->
		<result column="contact_type" property="contactType"/>
		<!--联系人或群组ID-->
		<result column="contact_id" property="contactId"/>
		<!--最后申请时间-->
		<result column="last_apply_time" property="lastApplyTime"/>
		<!--状态 0：待处理 1：已同意 2：已拒绝 3：已拉黑-->
		<result column="status" property="status"/>
		<!--申请信息-->
		<result column="apply_info" property="applyInfo"/>
		<!--联系人姓名-->
		<result column="contact_name" property="contactName"/>
	</resultMap>

	<!--查询列表-->
	<sql id="base_column_list">
		apply_id,apply_user_id,receive_user_id,contact_type,contact_id,last_apply_time,status,apply_info
	</sql>

	<!--查询条件-->
	<sql id="base_query_condition">
		<if test="query.applyId != null">
			and apply_id= #{query.applyId}
		</if>
		<if test="query.applyUserId != null and query.applyUserId != ''">
			and apply_user_id= #{query.applyUserId}
		</if>
		<if test="query.receiveUserId != null and query.receiveUserId != ''">
			and receive_user_id= #{query.receiveUserId}
		</if>
		<if test="query.contactType != null">
			and contact_type= #{query.contactType}
		</if>
		<if test="query.contactId != null and query.contactId != ''">
			and contact_id= #{query.contactId}
		</if>
		<if test="query.lastApplyTime != null">
			and last_apply_time= #{query.lastApplyTime}
		</if>
		<if test="query.status != null">
			and status= #{query.status}
		</if>
		<if test="query.applyInfo != null and query.applyInfo != ''">
			and apply_info= #{query.applyInfo}
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.applyUserIdFuzzy != null and query.applyUserIdFuzzy != ''">
			and apply_user_id like concat('%', #{query.applyUserIdFuzzy},'%')
		</if>
		<if test="query.receiveUserIdFuzzy != null and query.receiveUserIdFuzzy != ''">
			and receive_user_id like concat('%', #{query.receiveUserIdFuzzy},'%')
		</if>
		<if test="query.contactIdFuzzy != null and query.contactIdFuzzy != ''">
			and contact_id like concat('%', #{query.contactIdFuzzy},'%')
		</if>
		<if test="query.applyInfoFuzzy != null and query.applyInfoFuzzy != ''">
			and apply_info like concat('%', #{query.applyInfoFuzzy},'%')
		</if>
		<!-- 额外添加的条件 -->
		<if test="query.lastApplyTimestamp != null">
			and last_apply_time>=#{query.lastApplyTimestamp}
		</if>
	</sql>

	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map" >
		SELECT
		<include refid="base_column_list"/>
		FROM tb_user_contact_apply
		<include refid="query_condition"/>
		<if test="query.orderBy != null">
			order by ${query.orderBy}
		</if>
		<if test="query.simplePage != null">
			limit #{query.simplePage.start}, #{query.simplePage.pageSize}
		</if>
	</select>

	<!--查询总数-->
	<select id="selectCount" resultType="Integer">
		SELECT count(1)
		FROM tb_user_contact_apply
		<include refid="query_condition"/>
	</select>

	<!--插入匹配有值字段-->
	<insert id="insert" parameterType="com.wechat.entity.po.UserContactApply">
		<selectKey keyProperty="bean.applyId" order="AFTER" resultType="Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into tb_user_contact_apply
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.applyId != null">
				apply_id,
			</if>
			<if test="bean.applyUserId != null and bean.applyUserId != ''">
				apply_user_id,
			</if>
			<if test="bean.receiveUserId != null and bean.receiveUserId != ''">
				receive_user_id,
			</if>
			<if test="bean.contactType != null">
				contact_type,
			</if>
			<if test="bean.contactId != null and bean.contactId != ''">
				contact_id,
			</if>
			<if test="bean.lastApplyTime != null">
				last_apply_time,
			</if>
			<if test="bean.status != null">
				status,
			</if>
			<if test="bean.applyInfo != null and bean.applyInfo != ''">
				apply_info,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.applyId != null">
				#{bean.applyId},
			</if>
			<if test="bean.applyUserId != null and bean.applyUserId != ''">
				#{bean.applyUserId},
			</if>
			<if test="bean.receiveUserId != null and bean.receiveUserId != ''">
				#{bean.receiveUserId},
			</if>
			<if test="bean.contactType != null">
				#{bean.contactType},
			</if>
			<if test="bean.contactId != null and bean.contactId != ''">
				#{bean.contactId},
			</if>
			<if test="bean.lastApplyTime != null">
				#{bean.lastApplyTime},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.applyInfo != null and bean.applyInfo != ''">
				#{bean.applyInfo},
			</if>
		</trim>
	</insert>

	<!--插入或更新-->
	<insert id="insertOrUpdate" parameterType="com.wechat.entity.po.UserContactApply">
		insert into tb_user_contact_apply
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.applyId != null">
				apply_id,
			</if>
			<if test="bean.applyUserId != null and bean.applyUserId != ''">
				apply_user_id,
			</if>
			<if test="bean.receiveUserId != null and bean.receiveUserId != ''">
				receive_user_id,
			</if>
			<if test="bean.contactType != null">
				contact_type,
			</if>
			<if test="bean.contactId != null and bean.contactId != ''">
				contact_id,
			</if>
			<if test="bean.lastApplyTime != null">
				last_apply_time,
			</if>
			<if test="bean.status != null">
				status,
			</if>
			<if test="bean.applyInfo != null and bean.applyInfo != ''">
				apply_info,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.applyId != null">
				#{bean.applyId},
			</if>
			<if test="bean.applyUserId != null and bean.applyUserId != ''">
				#{bean.applyUserId},
			</if>
			<if test="bean.receiveUserId != null and bean.receiveUserId != ''">
				#{bean.receiveUserId},
			</if>
			<if test="bean.contactType != null">
				#{bean.contactType},
			</if>
			<if test="bean.contactId != null and bean.contactId != ''">
				#{bean.contactId},
			</if>
			<if test="bean.lastApplyTime != null">
				#{bean.lastApplyTime},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.applyInfo != null and bean.applyInfo != ''">
				#{bean.applyInfo},
			</if>
		</trim>
		ON DUPLICATE KEY UPDATE
		<trim prefix=""  suffix="" suffixOverrides=",">
			<if test="bean.contactType != null">
				contact_type=VALUES(contact_type),
			</if>
			<if test="bean.contactId != null and bean.contactId != ''">
				contact_id=VALUES(contact_id),
			</if>
			<if test="bean.lastApplyTime != null">
				last_apply_time=VALUES(last_apply_time),
			</if>
			<if test="bean.status != null">
				status=VALUES(status),
			</if>
			<if test="bean.applyInfo != null and bean.applyInfo != ''">
				apply_info=VALUES(apply_info),
			</if>
		</trim>
	</insert>

	<!--批量插入-->
	<insert id="insertBatch" parameterType="com.wechat.entity.po.UserContactApply" useGeneratedKeys="true" keyProperty="id">
		insert into tb_user_contact_apply(apply_user_id,receive_user_id,contact_type,contact_id,last_apply_time,status,apply_info) VALUES 
		<foreach collection="list" item="item" separator="," open="(" close=")" >
			#{item.applyUserId},#{item.receiveUserId},#{item.contactType},#{item.contactId},#{item.lastApplyTime},#{item.status},#{item.applyInfo} 
		</foreach>
	</insert>

	<!--批量插入或更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.wechat.entity.po.UserContactApply" useGeneratedKeys="true" keyProperty="id">
		insert into tb_user_contact_apply ( apply_user_id,receive_user_id,contact_type,contact_id,last_apply_time,status,apply_info )
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.applyUserId},#{item.receiveUserId},#{item.contactType},#{item.contactId},#{item.lastApplyTime},#{item.status},#{item.applyInfo} 
		</foreach>
		ON DUPLICATE KEY UPDATE contact_type =VALUES( contact_type ),contact_id =VALUES( contact_id ),last_apply_time =VALUES( last_apply_time ),status =VALUES( status ),apply_info =VALUES( apply_info ) 
	</insert>

	<!--根据ApplyId查询-->
	<select id="selectByApplyId" resultMap="base_result_map">
		select <include refid="base_column_list"/>
		from tb_user_contact_apply
		where apply_id=#{applyId} 
	</select>

	<!--根据ApplyUserIdAndContactId查询-->
	<select id="selectByApplyUserIdAndContactId" resultMap="base_result_map">
		select <include refid="base_column_list"/>
		from tb_user_contact_apply
		where apply_user_id=#{applyUserId} and contact_id=#{contactId} 
	</select>

	<!--根据ApplyId删除-->
	<delete id="deleteByApplyId">
		delete from tb_user_contact_apply
		where apply_id=#{applyId} 
	</delete>

	<!--根据ApplyUserIdAndContactId删除-->
	<delete id="deleteByApplyUserIdAndContactId">
		delete from tb_user_contact_apply
		where apply_user_id=#{applyUserId} and contact_id=#{contactId} 
	</delete>

	<!--根据ApplyId更新-->
	<update id="updateByApplyId">
		update tb_user_contact_apply
		<set>
			<if test="bean.applyUserId != null and bean.applyUserId != ''">
				apply_user_id=#{bean.applyUserId},
			</if>
			<if test="bean.receiveUserId != null and bean.receiveUserId != ''">
				receive_user_id=#{bean.receiveUserId},
			</if>
			<if test="bean.contactType != null">
				contact_type=#{bean.contactType},
			</if>
			<if test="bean.contactId != null and bean.contactId != ''">
				contact_id=#{bean.contactId},
			</if>
			<if test="bean.lastApplyTime != null">
				last_apply_time=#{bean.lastApplyTime},
			</if>
			<if test="bean.status != null">
				status=#{bean.status},
			</if>
			<if test="bean.applyInfo != null and bean.applyInfo != ''">
				apply_info=#{bean.applyInfo},
			</if>
		</set>
		where apply_id=#{applyId} 
	</update>

	<!--根据ApplyUserIdAndContactId更新-->
	<update id="updateByApplyUserIdAndContactId">
		update tb_user_contact_apply
		<set>
			<if test="bean.applyId != null">
				apply_id=#{bean.applyId},
			</if>
			<if test="bean.receiveUserId != null and bean.receiveUserId != ''">
				receive_user_id=#{bean.receiveUserId},
			</if>
			<if test="bean.contactType != null">
				contact_type=#{bean.contactType},
			</if>
			<if test="bean.lastApplyTime != null">
				last_apply_time=#{bean.lastApplyTime},
			</if>
			<if test="bean.status != null">
				status=#{bean.status},
			</if>
			<if test="bean.applyInfo != null and bean.applyInfo != ''">
				apply_info=#{bean.applyInfo},
			</if>
		</set>
		where apply_user_id=#{applyUserId} and contact_id=#{contactId} 
	</update>


	<!-- selectJoinQuery --> 
	<select id="selectJoinQuery" resultMap="base_result_map">
		SELECT a.* ,
		case
		WHEN a.contact_type=0 THEN u.nick_name
		WHEN a.contact_type=1 THEN g.group_name
		END AS contact_name 
		FROM tb_user_contact_apply a 
		LEFT JOIN tb_user_info u ON u.use_id = a.apply_user_id AND receive_user_id=#{query.receiveUserId}
		LEFT JOIN tb_group_info g ON g.group_id = a.contact_id AND receive_user_id=#{query.receiveUserId}
		WHERE receive_user_id=#{query.receiveUserId}
		<if test="query.orderBy != null">
			order by ${query.orderBy}
		</if>
		<if test="query.simplePage != null">
			limit #{query.simplePage.start}, #{query.simplePage.pageSize}
		</if>
	</select>
</mapper>